.navbar-brand img{
    width:120px;;
}
li.nav-item{
    padding-right:18px;
}

li.last{
    padding-right:10px;
}

.carousel-item{
    max-height: 800px;
}


.carousel-item img{
    position: static;
    width: 100%;
}

.lang{
    width: 20px;
}

.bg-dark,.navbar-dark {
    background-color: rgb(36, 36, 36) !important;
}

.nav-link{
    font-size: 20px;
}

.jumbotron.bg-dark{
    color: grey;
}

.my-2{
    border: none;
    height:1px;
    background-color: rgb(218, 167, 0);  
}

.btn-primary{
    background-color: rgb(218, 167, 0);
    border-color:rgb(218, 167, 0);
}

.between{
    height:30px;
    background-color:rgb(133, 0, 0);
    border-top: 2px solid rgb(218, 167, 0);  
}

nav{
    border-bottom: 3px solid rgb(133, 0, 0);
}



/*---Media Queries --*/




@media (max-width: 992px) {

  }
  
  @media (max-width: 767px) {
.nav-hr{
    border: none;
    height:1px;
    background-color: rgb(218, 167, 0); 
    width: 100%;
}


  }

  
  
  @media (max-width: 576px) {

  }


@media (min-width: 1367px){
    .carousel-item{
        max-height: 800px;
    }

    .carousel-item img{
        position: relative;
        top: -100px;
        position: relative;
    }
}